.base-input {
  position: relative;
}
.base-input input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 16px;
  color: #333;
  outline: none;
}
.base-input__label {
  font-weight: 200;
  font-size: 1.25rem;
  transition: all 0.3s ease-in-out;
}
.base-input__label span {
  color: red;
  font-size: 1.25rem;
  padding-right: 5px;
}
.base-input__icon {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 1.25rem;
  color: #ccc;
  transition: all 0.3s ease-in-out;
}
.base-input__icon__left {
  position: absolute;
  transform: translateY(-50%);
  left: 0;
  top: 50%;
  font-size: 1.25rem;
  color: #ccc;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
}

.base-button {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
}

.base-input__button {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  color: #000;
  font-size: 16px;
  font-weight: 200;
  outline: none;
  cursor: pointer;
  padding: 0 20px;
  height: 40px;
}
